# ignore all commands except rvt_model_services built-in commands and cookiecutter template
commands/*
!commands/qc/
!commands/dwf/
!commands/dwg/
!commands/pulse/
!commands/warnings/
!commands/audit/
!commands/rps_audit/
!commands/cookiecutter/

# ignore configs db and task xml except xml templates
config.ini
jobs.json
db/xml_import/*.xml
db/xml_export/*.xml
!db/xml_export/*_template.xml

# rvt_model_services logs
logs/*
!logs/README.md

# rvt_model_services warnings
warnings/*
!warnings/README.md

# bokeh pulse html test pages
commands/pulse/*.html

# bokeh qc graph html test pages
commands/qc/*.html

# bokeh warnings graph html test pages
commands/warnings/*.html

# bokeh audit graph html test pages
commands/audit/*.html

# rvt_model_services journals files
journals/*
!journals/README.md
!journals/RMSExecutor.addin

# rvt_model_services mail notifier
notify/email/*
!notify/email/README.md
!notify/email/*.py

# rvt_model_services mail notifier
notify/slack/*
!notify/slack/README.md
!notify/slack/*.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# Rope project settings
.ropeproject

### JetBrains
.idea

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
